@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VeggiTales</h1>
    <p>Buy some delicious veggies from Jas's backyard garden!</p>
    <p>We're building this for COMP2084G in Fall 2023 at Lakehead-Georgian.</p>
    <p>Royalty-Free images from <a href="https://pixabay.com">Pixabay.com</a></p>
    <a class="btn btn-primary" asp-controller="Shop" asp-action="Index">
        Shop Now!
    </a>
</div>
